#container{
  width: 500px;
  height: 500px;
  background-color: gray;
}
#square1{
  width: 100px;
  height: 100px;
  background-color: red;
  display: inline-block;
}
#square2{
  width: 100px;
  height: 100px;
  background-color: blue;
  display: inline-block;
}
#square3{
  width: 100px;
  height: 100px;
  background-color: green;
  display: inline-block;
}
#square4{
  width: 100px;
  height: 100px;
  background-color: black;
  display: inline-block;
}
div{
  margin: 5px auto;
  border: 3px solid yellow;
  padding: 5px;
}
